<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Work/Projects/Silpo_Java">
        <classes>
            <class name="TestSuites.DefaultPageTests">
                <methods>
                    <include name=".*"/>
                    <exclude name=".*sideMenuFacebookLink.*"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="Utilities.RetryListener"/>
        <listener class-name="Utilities.TestListener"/>
    </listeners>
</suite>
